Working with Data Preliminaries

Numpy arrays are grids or tables for holding, accessing, and manipulating data

Python Lists

In [1]:
mylist = [1,3,5,7,11,13]

In [2]:
notalist = 3.14

In [3]:
notalist

3.14

In [4]:
mylist

[1, 3, 5, 7, 11, 13]

In [5]:
mylist2 = ['this', 'is', 'a', 'list', 'of', 'words']

In [6]:
mylist2

['this', 'is', 'a', 'list', 'of', 'words']

In [7]:
mylist3 = [1, 'one', [2, 3, 4]]

In [8]:
mylist3

[1, 'one', [2, 3, 4]]

In Python the first value in a list is actually at index=0

In [9]:
mylist[0]

1

In [11]:
mylist2[2]

'a'

In [12]:
mylist3[1]

'one'

We can address more than one element in a list by using the : (colon) operator.

In [13]:
mylist[0:3]

[1, 3, 5]

"Give me all the elements in the interval between 0 inclusive to 3 exclusive."

In [15]:
mylist[2:5]

[5, 7, 11]

In [16]:
mylist[:]

[1, 3, 5, 7, 11, 13]

In [17]:
mylist[:3] # from the beginning to 3

[1, 3, 5]

In [18]:
mylist[3:]  # from 3 to the end

[7, 11, 13]

In [22]:
mylist[0:5:2] # get every other element

[1, 5, 11]

In [26]:
mylist4 = [1,2,3,4,5,6,7,8,9]
mylist4[::3]

[1, 4, 7]

In [34]:
everyOtherOne = mylist[0::2]
everyOtherOne

[1, 5, 11]

In [36]:
anotherNewList = [mylist[1],mylist[4],mylist[5]]
anotherNewList

[3, 11, 13]

Numpy Arrays

In [37]:
import numpy as np

In [38]:
myarr = np.array([2, 4, 6, 8, 9, 10])

In [39]:
myarr

array([ 2,  4,  6,  8,  9, 10])

In [40]:
myarr[4]

9

In [41]:
myarr[-3:]

array([ 8,  9, 10])

In [42]:
myarr2 = np.array(mylist)

In [43]:
myarr2

array([ 1,  3,  5,  7, 11, 13])

Numpy arrays instead contain numerical elements by definition. This definition assures the ability to perform math ith the arrays.

In [44]:
myarr2 + 5

array([ 6,  8, 10, 12, 16, 18])

In [46]:
myarr + myarr2

array([ 3,  7, 11, 15, 20, 23])

In [47]:
twoDarr = np.array([myarr, myarr2])

In [48]:
twoDarr

array([[ 2,  4,  6,  8,  9, 10],
       [ 1,  3,  5,  7, 11, 13]])

Another important feature about numpy arrays is that they have built-in functionality to tell us their shape.

In [49]:
twoDarr.shape

(2, 6)

In [50]:
twoDarr[1,3]

7

The first index refers to the row index, and the second to the column index. In this case, we're asking for the value in the second row and the fourth column, which is indeed 7

Note: everything before the comma , refers to the rows in that it specifies locations along the vertical dimension, and everything after the comma , refers to the columns in that it specifies locations along the horizontal dimension.

In [52]:
twoDarr[:,0:3] #all the rows in the first 3 columns

array([[2, 4, 6],
       [1, 3, 5]])

In [54]:
twoDarr[1:,2:] #row 2 values after column 2

array([[ 5,  7, 11, 13]])

In [56]:
twoDarr[-1,:] #all of the last row

array([ 1,  3,  5,  7, 11, 13])

In [58]:
twoDarr[:,-2:] #last two columns

array([[ 9, 10],
       [11, 13]])

In [61]:
twoDarr[:1,::2] #first row, every other column

array([[2, 6, 9]])

In [64]:
twoDarr[0,::2] #also first row, every other column

array([2, 6, 9])

In [66]:
colarr = twoDarr.T #transpose
colarr

array([[ 2,  1],
       [ 4,  3],
       [ 6,  5],
       [ 8,  7],
       [ 9, 11],
       [10, 13]])

We have just done a little of what is known as data wrangling. While not as fun as data visualization, data wrangling is often a big part of any analysis project!

In [67]:
colarr.sum(0)

array([39, 40])

In colarr.sum(0), the 0 means "the first (vertical) dimension", i.e., sum the values across the rows within each column.

To sum along the second dimension (aka 2+1, 4+3,...), we do:

In [68]:
colarr.sum(1)

array([ 3,  7, 11, 15, 20, 23])

The list of things that numpy arrays can do themselves is pretty impressive.

Check it out here: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html

In [71]:
myzeros = np.zeros((7,3))
myzeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])